<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Automating Tasks with the Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">R for Reproducible Scientific Analysis</h3>
    <ul>
      <li>Introduction to R and R Studio</li>
      <li>Basic programming in R</li>
      <li>Data structures in R</li>
      <li>Exploring data frames</li>
      <li>Visualizating data using {ggplot2}</li>
      <li>Data frame manipulation using {dplyr}</li>
      <li>Producing reports using {knitr}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files</li>
      <li>Viewing changes</li>
      <li>Ignoring files</li>
      <li>Working on the web</li>
      <li>Resolving conflicts</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r"> </h3>
  </div>
</div>
